body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1e90ff, #808080); /* Degradê de azul para cinza */
    color: rgb(51, 51, 51);
    line-height: 1.6;
}
@font-face {
    font-family: 'metalgear';
    src: url('techno_hideo.ttf') format('truetype');
}
.dots_titulo{
    font-family: 'metalgear';
    font-size: 1.5em;
}
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: rgb(23, 31, 38);
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 2px 7px;
    display: flex;
    align-items: center;
}
.problema1{
    width: 100%;
    margin-top: 1em;
    position: relative;
}
.problema3{
    width: 100%;
    margin-top: 1em;
    position: relative;
}
.problema4{
    width: 100%;
    margin-top: 1em;
    position: relative;
}
.imglogo {
    width: 80px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 20px;
}
.container {
    width: 100%;
    height: 80vh; /* Define a altura como 50% da altura da viewport */
    overflow: hidden;
}
#typeproblem{
    text-align: left;
}
.img{
        width: 100%; /* Define a largura da imagem como 100% da largura do contêiner */
        height: auto; /* Mantém a proporção da imagem */
        display: block;
        object-fit: cover; /* Mantém a proporção da imagem, cortando se necessário */

}
.dots, .documents {
    color: rgb(3, 90, 166) /* Cor verde para o texto */
}
.boas {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}
.descricao {
    font-size: 25px;
    margin: 10px auto;
    max-width: 800px;
    text-align: justify;
}
.app {
    color: rgb(3, 90, 166); /* Cor azul para o texto do aplicativo */
    text-align: center;
}
.link-download {
    color: rgb(0, 153, 51); /* Cor verde para os links de download */
    font-weight: bold;
    text-align: center;
}
footer {
    background-color: rgb(23, 31, 38);
    color: rgb(255, 255, 255); /* Cor do texto do rodapé */
    padding: 20px 0;
    text-align: center;
}
.problemas {
    
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}
p{
    text-indent: 20px;
}
.problema {
    text-align: justify;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    box-shadow: 7px 7px 5px  rgb(3, 90, 166);
    padding: 20px;
    margin: 20px;
    width: 300px;
}
.problema5{
    width: 800px;
    height: auto;
}
@media only screen and (max-width: 767px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .problema {
        width: 90%;
        margin: 20px 0;
    }

    .imglogo {
        width: 80px; /* Ajuste conforme necessário */
        height: auto;
        margin-right: 10px;
    }

    .img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}